.comment-avatar {
    float: left;
}

.comment-thread {
    border-top: 1px solid rgba(0, 0, 0, 0.13);
}

.comment-post {
    padding: 10px;
}

.comment-container {
    margin-top: 2em;
}

.comment-body {
    padding-left: 60px;
}

.comment-body textarea {
    /* Metrics */
    height: 54px;
    margin: 0px;
    padding: 10px;
    resize: none;
    /* Styles */
    color: #999;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    /* Borders */
    border-width: 1px 1px medium;
    border-style: solid solid none;
    border-color: #CCC #CCC #999;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background: #FFF url("bg_sprites.png") repeat-x scroll 0px -90px;
}

.comment-toolbar {
    position: relative;
    height: 32px;
    color: #555;
    padding-left: 10px;
    font-size: 12px;
    line-height: 32px;
    border-width: 1px;
    border-style: solid none solid solid;
    border-color: #CCC;
    border-image: none;
    border-bottom-left-radius: 3px;
    background: transparent url("bg_sprites.png") repeat-x scroll 0px -60px;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.comment-submit {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    right: 0px;
    top: -1px;
    height: 32px;
    width: 100px;
    text-align: center;
    text-shadow: 0px 1px 0px #FFF;
    color: #555;
    font-size: 14px;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: #CCC #CCC #AAA;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-bottom-right-radius: 3px;
    background-color: #E6E6E6;
    background-repeat: no-repeat;
    background-image: linear-gradient(#FCFCFC, #FCFCFC 25%, #E6E6E6);
    transition: all 0.15s linear 0s;
    box-shadow: 0px 0px 1px #FFF inset;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
}

.comment-submit:hover {
    background-position: 0px -15px;
    color: #333;
}

.comment-submit:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.comment-user, .comment-user a {
    color: #777;
    font-size: 13px;
    margin-right: 8px;
}

.comment-text {
    font-size: 13px;
    line-height: 1.5em;
    margin: 0.5em 0px;
    word-wrap: break-word;
}

.comment-footer {
    font-size: 12px;
    margin-right: 8px;
    color: #999;
}

.comment-reply, .comment-like, .comment-report, .comment-delete {
    margin-left: 5px;
    cursor: pointer;
    transition: color 0.15s linear 0s;
}

.comment-reply::before, .comment-like::before, .comment-report::before, .comment-delete::before {
    content: "";
    background: transparent url("sprites.png") no-repeat scroll 0% 0%;
    opacity: 0.6;
    display: inline-block;
    width: 15px;
    height: 10px;
    transition: opacity 0.15s linear 0s;
    font-size: 9px;
    vertical-align: middle;
}

.comment-reply::before {
    background-position: 0px 0px;
}

.comment-like::before {
    background-position: 0px -14px;
}

.comment-like[liked]::before {
    background-position: 0px -27px;
}

.comment-report::before {
    background-position: 0px -50px;
}

.comment-report[reported]::before {
    background-position: 0px -62px;
}

.comment-delete::before {
    background-position: 0px -40px;
}

.comment-reply:hover, .comment-like:hover, .comment-report:hover, .comment-delete:hover {
    opacity: 1.0;
    color: #555;
}

.comment-reply:hover::before, .comment-like:hover::before, .comment-report:hover::before, .comment-delete:hover::before {
    opacity: 1.0;
}

.comment-post .comment-report, .comment-post .comment-delete {
	display: none;
}

.comment-post:hover .comment-report, .comment-report[reported], .comment-post:hover .comment-delete[enabled] {
	display: initial;
}

.comment-thread .comment-replybox:not(:first-child) {
	margin-left: 70px;
}

.comment-thread .comment-thread {
	margin-left: 40px;
}

.comment-avatar img {
    width: 50px;
    height: 50px;
}

.comment-thread > div:not(:first-child) .comment-avatar img {
	width: 30px;
	height: 30px;
}

.comment-thread > div:not(:first-child) .comment-body {
	padding-left: 40px;
}

.comment-paginator {
    border-top: 1px solid rgba(0,0,0,0.13);
    text-align: right;
    padding: 0.5em;
}

.comment-paginator span {
    color: #777;
    border-radius: 3px;
    font-size: 12px;
    margin: 0 3px;
    padding: 2px 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.comment-paginator span:hover {
    color: #333;
    background-color: rgba(0,0,0,0.03);
}

.comment-paginator span[current] {
    color: #d32;
    border: 1px solid #ccc;
    background-color: rgba(0,0,0,0.03);
}