.comment-container-top, .comment-container, .comment-paginator, .comment-bannotice, .comment-replybox {
    margin: 0 1em;
}

.comment-avatar {
    float: left;
}

.comment-thread {
    border-top: 1px solid rgba(0, 0, 0, 0.13);
}

.comment-post {
    padding: 10px;
}

/* Only add margin if we do not have topped posts */
.comment-container-top[disabled] + .comment-container {
    margin-top: 2em;
}

.comment-body {
    padding-left: 60px;
}

.comment-user, .comment-user a {
    color: #777;
    font-size: 13px;
    margin-right: 8px;
}

.comment-text {
    font-size: 13px;
    line-height: 1.5em;
    margin: 0.5em 0px;
    word-wrap: break-word;
    /* Added to guard against malacious position:absolute */
    position: relative;
    overflow: hidden;
    min-height: 1em;
}

.comment-footer {
    font-size: 12px;
    margin-right: 8px;
    color: #999;
}

.comment-post .comment-report, .comment-post .comment-delete {
	display: none;
}

.comment-post:hover .comment-report, .comment-report[reported], .comment-post:hover .comment-delete {
	display: initial;
}

.comment-thread .comment-thread {
	margin-left: 40px;
}

.comment-paginator {
    border-top: 1px solid rgba(0,0,0,0.13);
    text-align: right;
    padding: 0.5em;
}

.comment-paginator span {
    color: #777;
    border-radius: 3px;
    font-size: 12px;
    margin: 0 3px;
    padding: 2px 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.comment-paginator span:hover {
    color: #333;
    background-color: rgba(0,0,0,0.03);
}

.comment-paginator span[current] {
    color: #d32;
    border: 1px solid #ccc;
    background-color: rgba(0,0,0,0.03);
}

.comment-bannotice {
    border-top: 1px solid rgba(0,0,0,0.13);
    font-size: 13px;
    text-align: center;
    padding: 1em;
    color: #777;
}

.comment-container-top {
    border: 1px #CCC solid;
    margin-top: 2em;
    border-radius: 5px;
}

.comment-container-top[disabled] {
    display: none;
}

/* The title bar */
.comment-container-top > div:first-child {
    background: #f8f8f8;
    height: 24px;
    line-height: 24px;
    color: #555;
    text-indent: 1em;
    font-size: small;
    border-radius: 5px 5px 0 0;
}

.comment-container-top > div:last-child {
    border-radius: 0 0 5px 5px;
}

.comment-container-top:not([disabled]) + .comment-container > div:first-child {
    border-top: 0;
}
