.comment-avatar {
    float: left;
    cursor: pointer;
}

.comment-thread {
    border-top: 1px solid rgba(0, 0, 0, 0.13);
}

.comment-post {
    padding: 10px;
}

.comment-container {
    margin-top: 1em;
}

.comment-body {
    padding-left: 60px;
}

.comment-user, .comment-user a {
    color: #777;
    font-size: 13px;
}

.comment-text {
    font-size: 13px;
    line-height: 1.5em;
    margin: 0.5em 0px;
    word-wrap: break-word;
    /* Added to guard against malacious position:absolute */
    position: relative;
    overflow: hidden;
    min-height: 1em;
}

.comment-footer {
    font-size: 12px;
    margin-right: 8px;
    color: #999;
}

.comment-markchecked {
    margin-left: 5px;
}

.comment-markchecked, .comment-recover {
    margin-left: 5px;
    cursor: pointer;
    transition: color 0.15s linear 0s;
}

.comment-recover::before {
    background-position: 0px 0px;
}

.comment-recover:hover::before {
    opacity: 1.0;
}

.comment-recover:hover, .comment-markchecked:hover {
    opacity: 1.0;
    color: #555;
}

.comment-selected {
    padding-left: 1em;
    background: lightblue;
}

/* a. here is necessary to increase priority */
a.pager-disable {
    color: black;
    cursor: text;
    text-decoration: none;
}
